*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    position: fixed;
    left: 40px;
    top: 0px;
    width: 1250px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
}


.topbtn button{
    font-size: 20px;
    padding: 20px;
    padding-bottom: 23px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.topbtn button:hover{
    background-color: grey;
}

.text{
    padding-left: 500px;
    display: flex;
    padding-top: 20px;
    font-family: Calibri;
}

.myfood{
    margin-left: 30px;
}

.mail{
    padding-left: 520px;
    font-family: Calibri;
}


.food{
    margin-top: 130px;
}

.first{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(1, 200px);
    gap: 15px;
    justify-content: center;
}

.second{
    margin-top: 400px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(1, 200px);
    gap: 15px;
    justify-content: center;
}

.perfect{
    font-size: 25px;
    font-family: Monotype Corsiva;
    text-align: center;
    padding-bottom: 19px;
}

.random{
    font-size: 15px;
    font-family: Comic Sans MS;
    text-align: center;
}

.random2{
    padding-top: 15px;
    text-align: center;
}

.image img{
    width: 100%;
    height: 100%;
}


.switchers{
    margin-top: 400px;
    margin-left: 550px;
    display: flex;
}

.an button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.an button:hover{
    background-color: black;
    color: white;
}

.the button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.the button:hover{
    background-color: rgba(0, 0, 0, 0.363);
    color: black;
}

hr{
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px thick white;
}

.about{
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: lighter;
}

.chef img{
    width: 800px;
    height: 500px;
    margin-left: 280px;
    margin-top: 50px;
}

h3{
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.pas{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-style: italic;
}

.me{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    font-family: Calibri Light;
    font-weight: 500;
}

.jus{
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
}



footer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer{
    width: 400px;
    height: 200px;
}

.f-head{
    font-size: 25px;
    font-family: Californian FB;
}

.pre{
    padding-top: 25px;
    font-size: 17px;
    font-family: Calibri Light;
    font-weight: lighter;
}

.pow{
    padding-top: 20px;
    font-size: 17px;
    font-family: Calibri Light;
    font-weight: lighter;
}

a{
    color: black;
    font-size: 17px;
    font-family: Calibri Light;
    font-weight: lighter;
}

.blog{
    width: 400px;
    height: 250px;
}

.lorem1{
    margin-top: 15px;
    display: flex;
    padding: 15px;
    width: 400px;
    height: 80px;
    background-color: white;
    gap: 15px;
    border-bottom: 1px solid rgba(124, 124, 124, 0.267);
}

.lorem1:hover{
    background-color: rgba(124, 124, 124, 0.267);
    border-bottom: none;
}

.lorem2{
    display: flex;
    padding: 15px;
    width: 400px;
    height: 80px;
    background-color: white;
    gap: 15px;
}

.lorem2:hover{
    background-color: rgba(124, 124, 124, 0.267);
}

.lor-image img{
    width: 50px;
    height: 50px;
}

.lorem-h{
    font-size: 20px;
    padding-bottom: 2px;
}

.pra{
    font-size: 18px;
    font-family: Calibri Light;
}

.p-tags{
    width: 400px;
    height: 200px;
}

.so{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.travel{
    background-color: black;
    color: white;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.travel:hover{
    background-color: darkgrey;
    color: black;
}

.countries{
    background-color: rgb(99, 99, 99);
    color: white;
    font-size: 12px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    margin-left: 3px;
    margin-bottom: 15px;
    margin-top: 3px;
    width: 55px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 1s;
}

.countries:hover{
    background-color: darkgray;
}